---
layout: page
---

<h1 class="header author-header" itemprop="headline">Feedback</h1>
<p>Feedback is a gift, please provide me with candid and actionable feedback about anything. Your anonymity will be respected.</p>
<form action="https://getsimpleform.com/messages?form_api_token=dfc62a36a9e553fe0a779dd3b1bb7dc5" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='https://gregology.net/sent/' />
  <!-- all your input fields here.... -->
  email (optional):<br>
  <input name='email' type='text' value="anonymous" style="color: #101010; width:100%"/><br>
  name (optional):<br>
  <input name='name' type='text' value="anonymous" style="color: #101010; width:100%"/><br>
  feedback:<br>
  <textarea name="message" style="color: #101010; width:100%" rows=5></textarea><br>
  <input type='submit' value='Send' style="color: #A0A0A0;"/>
</form>
