---
layout: page
title: Gregology
subtitle: The world according to Greg Clarke
use-site-title: true
---

<h2>Latest Articles</h2>

<ul>
    {% for post in site.posts limit: 10 %}

        <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
        </li>

    {% endfor %}
    <li>
        <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
    </li>
</ul>
